@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@font-face {
  font-family: 'Coolvetica';
  src: url('fonts/coolvetica-rg.otf') format('opentype');
}

h1 {
  font-family: 'Coolvetica', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.header1{
  font-size: 32px;
  letter-spacing: 2px;
}

.hi-message{
  font-size: 32px;
  letter-spacing: 4px;
  color: #f4fffd;
}

.header2{
  font-size: 26px;
  color: #231f20;
}

.header3{
  font-size: 18px;
  color: #7286a0;
  letter-spacing: 10px;
}

.header2-table {
  font-size: 24px;
  color: #231f20;
}

.header3-table {
  font-size: 16px;
  color: #a4303f;
}

.paragraph-table{
  font-size: 16px;
  color: #000;

}

.about-me {
  font-size: 16px;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.parrafo{
  font-size: 16px;
}

.title{
  font-size: 48px;
  letter-spacing: 4px;
  color: #a4303f;
}

header {
  position: relative;
  text-align: center;
}

header img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 70px;
  height: auto;
}

main img {
  padding-top: 50px;
  width: 200px;
}

.main-section{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 100px;
}

.sections {
  font-size: 28px;
  letter-spacing: 2px;
  color: #a4303f;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 100px;
}

.welcome {
  font-size: 28px;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9b44c;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.table {
  display: flex;
  border-collapse: separate;
  border-spacing: 10px;
  border: none;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}

.row {
  display: flex;
}

.column {
  flex: 1;
  padding: 10px;
  border-right: 1px solid #7286a0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  width: 33.33%;
}

.column:last-child {
  border-right: none;
}

.column img{
  width: 50px;
  align-self: center;
}

.column h2{
  margin-top: 20px;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skills img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .skills {
    flex-direction: column; /* Cambia a una disposición vertical en pantallas más pequeñas */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
  }
  
  .skills img {
    margin-bottom: 10px; /* Añade un espacio entre los logos en pantallas más pequeñas */
  }
}

.cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  margin-right: 100px;
  margin-left: 100px;
}

.card {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .card {
    width: calc(100% - 20px);
  }
}

.card img {
  width: 100%;
  height: auto;
  padding: 0px;
  height: auto;
  display: block;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
}

.project-name {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.project-type {
  font-size: 12px;
  margin-top: 5px;
}

.project-detail{
  position: absolute;
  background-color: #231f20;
  color:#fff;
  padding: 15px;
}

.card .project-detail {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color:#231f20;
  color: #fff;
}


@media screen and (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}

.toggle {
  margin-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

.toggle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
  cursor: pointer;
  background-color: #e9b44c;
  border-radius: 5px;
}

.toggle-header .material-icons {
  color: #231f20; 
}


.toggle-icon {
  font-size: 16px;
  color: #fff;
  transition: transform 0.3s ease;
}

.rol-company{
  font-size: 18px;
  color: #f0f0f0;
}

.dates {
  font-size: 18px;
  color: #f0f0f0;
}

.toggle-content {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #231f20;
  border-radius: 5px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
}

.toggle-content.active {
  display: block;
  max-height: 100px;
  transition: max-height 0.3s ease;
}

.toggle-content .material-icons {
  vertical-align: middle;
  margin-right: 5px;
  color: #7286a0;
}

.toggle-content p.location i.material-icons {
  margin-right: 5px;
}

.card-experience {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 5px;
}

.card-content {
  flex: 1;
}

.logo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  padding: 0;
}

.location {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  color: #f0f0f0;
}

.activities {
  margin-bottom: 5px;
  font-size: 16px;
  color: #f0f0f0;
}

.tags {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  font-size: 12px;
}

.tag{
  background-color: #a4303f;
  color:#f0f0f0;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 10px;
}

.achievements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  margin-right: 100px;
  margin-left: 100px;
}

.achievement{
  width: calc(50% - 20px);
  margin-bottom: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
}

.achievement:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.achievement-content {
  position: absolute;
  color:#fff;
  padding: 15px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.achievement:hover .achievement-content {
  background-color: rgba(0, 0, 0, 0.8);
}

.achievement .achievement-content{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color:#231f20;
  color: #fff;
}

.achievement-title{
  font-size: 20px;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
}

.achievement-subtitle {
  color: #fff;
  font-size: 12px;
}

@media (max-width: 768px) {
  .achievement {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .achievement {
    width: calc(100% - 20px);
  }
}

.achievement img {
  width: 100%;
  height: auto;
  padding: 0px;
  height: auto;
  display: block;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .achievement {
    width: calc(50% - 20px);
  }
}

.hidden-description {
  display: none;
  font-size: 12px;
}

.achievement:hover .hidden-description {
  display: block;
}