@font-face {
  font-family: 'Coolvetica';
  src: url('fonts/coolvetica-rg.otf') format('opentype');
}

h1 {
  font-family: 'Coolvetica', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.header1{
  font-size: 32px;
  letter-spacing: 2px;
}

.hi-message{
  font-size: 32px;
  letter-spacing: 4px;
  color: #f4fffd;
}

.header2{
  font-size: 26px;
  color: #231f20;
}

.header3{
  font-size: 18px;
  color: #7286a0;
  letter-spacing: 10px;
}

.parrafo{
  font-size: 16px;
}

.title{
  font-size: 48px;
  letter-spacing: 4px;
  color: #a4303f;
}

header {
  position: relative;
  text-align: center;
}

header img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 70px;
  height: auto;
}

main img {
  padding-top: 50px;
  width: 200px;
}

.main-section{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 100px;
}

.sections {
  font-size: 28px;
  letter-spacing: 2px;
  color: #a4303f;
  padding-left: 16px;
}

.welcome {
  font-size: 28px;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9b44c;
  margin-top: 100px;
  padding-top: 50px;
  text-align: center;
}
